#metric-count, #friend-selection {
  margin-bottom: 30px;
}

#metric {
  margin-bottom: 10px;
}

#days, #hours {
  margin: 0 auto;
  display: block;
  font-size: 30px;
}

#time {
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: solid thin grey;

  select {
  appearance: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding-left: 30px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  border: none;
  border-bottom: $purple1 solid;
  border-top: $purple1 solid;
  }

  p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
  }
}

#bet_metric_count::-webkit-input-placeholder {
  text-align: center;
  font-size: 12.5px;
  padding-top: 10px;
}

.bet_metric_count {
  input {
    border: none;
    height: 40px;
    width: 320px;
    font-weight: 100;
    border-bottom: $purple1 solid;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    padding-top: 2px;
    overflow: hidden;
  }

  :focus {
    border: none !important;
    box-shadow: none !important;
  }
}

.bet_stake {
  width: 80%;
  margin: 0 auto;
}

#friend-selection {
  display: flex;
  justify-content: center;
}

#opponent-avatar {
  margin-right: 10px;
}

.bet_friend {
  select {
    appearance: none;
    border: none;
    height: 40px;
    width: 180px;
    font-weight: 100;
    border-bottom: $purple1 solid;
    margin: 0 auto;
    text-align: center;
    padding-top: 2px;
    overflow: hidden;
  }

  :focus {
    border-bottom: $purple1 solid;
    box-shadow: none !important;
  }

  value {
    text-align: center;
  }
}

#coin-summary {
  height: 16px;
  width: 16px;
}
