#page1 {
  position: relative;
  height: 90vh;
}

#target-notice {
  color: white;
  width: 91%;
  text-align: center;
  padding-top: 15px;
  margin: 0px auto;
  line-height: 20px;
}

#page2 {
  width: 91%;
  margin: 0 auto;
}

#summary {
  width: 91%;
  margin: 0 auto;
}
