// Define variables for your color scheme
$purple1: #C299FC;
$dark: #181825;
$grey-subtle: #8C8C8C;
$grey1:#58587C;
$grey2:#323244;
$grey3:#696978;
$grey4: #7A7AA1;
$red1: #9D1E1E;
$green1: #1BB650;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
