<div class="search-form-container">
<h3 class="form-h3">Select what you want to bet on</h3>

  <div class="row">
    <div class="col">
      <h1 id="video_btn-h3" class="btn-half">Video</h1>
    </div>
    <div class="col">
      <h1 id="channel_btn-h3" class="btn-half">Channel</h1>
    </div>
  </div>

  <div class="d-none" id="search_input">
    <div> <%= form_with(url: search_index_path, remote: true) do %>
       <%= hidden_field_tag :type, '', id: 'type' %>
       <%= text_field_tag :target, '', placeholder: 'Search', id: "search", label: '', autocomplete: "off", style:"padding-left: 10px" %>
       <%#= submit_tag :submit, id: 'submit' %>
     <% end %>
      <div id="autocomplete_style" class="d-none">
      <ul id="suggestions">
     </ul>
     </div>
   </div>
  </div>
</div>



<h3 id="videos"></h3>
<div>
  <ul id="search_results" style="color: white">

  </ul>
</div>


<script>
  const video = document.getElementById('video_btn-h3')
  const channel = document.getElementById('channel_btn-h3')
  const searchInput = document.getElementById('search_input')
  const insideSearch = document.getElementById('search')
  const autocompleteStyle = document.getElementById('autocomplete_style')

  function vidBtnSelected(){
    channel.style.backgroundColor = "";
    video.style.color = "black";
    channel.style.color = "white";
    video.style.backgroundColor = "white";
  };

   function chanBtnSelected(){
    video.style.backgroundColor = "";
    video.style.color = "white";
    channel.style.color = "black";
    channel.style.backgroundColor = "white";
  };


  insideSearch.addEventListener('keyup', function(){
    autocompleteStyle.classList.remove('d-none')
  });

  document.getElementById('video_btn-h3').addEventListener('click', function() {
    document.getElementById('type').value = 'video'
    searchInput.classList.remove('d-none')
  });



  document.getElementById('channel_btn-h3').addEventListener('click', function() {
    document.getElementById('type').value = 'channel'
    searchInput.classList.remove('d-none')
  });

  video.addEventListener('click', vidBtnSelected);
  channel.addEventListener('click', chanBtnSelected);

</script>

