<h3 class="form-h3">Please select the video or channel you want to bet on</h3>

  <div class="row">
    <div class="col">
      <p id="video_btn">Video</p>
    </div>
    <div class="col">
      <p id="channel_btn">Channel</p>
    </div>
  </div>

<div> <%= form_with(url: search_index_path, remote: true) do %>
 <%= hidden_field_tag :type, '', id: 'type' %>
<%= text_field_tag :target, '', id: "search" %>
<%= submit_tag :submit, id: 'submit' %>
<% end %>
<ul id="suggestions">
</ul>
</div>

<h3 id="videos">Results</h3>
<div>
  <ul id="search_results" style="color: white">

  </ul>
</div>


<script>
  document.getElementById('video_btn').addEventListener('click', function() {
    document.getElementById('type').value = 'video'
  });

  document.getElementById('channel_btn').addEventListener('click', function() {
    document.getElementById('type').value = 'channel'
  });
</script>

