<div class = "container account_history_index">
  <h2>NOTIFICATIONS</h2>
  <% notifications = @notifications%>
  <% notifications.each do |notification| %>
    <%= render 'notification', notification: notification %>
  <% end %>
</div>

<!--
ALL CURRENT NOTIFICATIONS:

notification.category == "Bet Won"
notification.category == "Accepted Friend Request"
notification.category == "New Friend Request"
notification.category == "New Bet Invitation"
notification.category == "Bet Lost"
notification.category == "Accepted Bet Invitation"
notification.category == "Rejected Bet Invitation"
 -->
