function addSentRequest() {
  const sentRequests = document.getElementById('pending-friends');
  sentRequests.insertAdjacentHTML('afterbegin', '<li><%= params["username"] %></li>');
}
addSentRequest();
