.account_history_index {
	position: relative;
	font-weight: bolder;

	h2 {
	  color: #FFFFFF;
	  font-family: Poppins;
	  font-style: normal;
	  font-weight: 500;
	  font-size: 20px;
	  line-height: 36px;
	  text-align: center;
	  text-transform: uppercase;
	  margin-top: 30px;
	  margin-bottom: 20px;
	}

	.current-bet-request {
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);
    color: white;
    padding: 5px 0px 0px 0px;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    height: 12vh;
  }

  .current-arrow {
  	justify-content: flex-end;
  	margin-right: 15px;
  	margin-top: 5px;
  }

	.current-stake {
		margin-right: 20px;
		font-size: 20px;
		font-family: Poppins;
		color: $purple1;
	}

	.current-text {
		padding-left: 15px;
	}

	#current-coin {
		margin-top: 4px;
	}

	#current-stake {
		float: left;
		color: $purple1;
		font-family: Poppins;
		font-size: 24px;
		margin-right: 15px;
	}

	.current-bet-content img {
		margin-bottom: 15px;
		vertical-align: middle;
	}

	.past-bet-content img {
		margin-left: 100px;
	}

	.past-text {
		padding-top: 12px;
		padding-left: 15px;
	}

	.past-stake {
		color: $green1;
		margin-right: 10px;
		margin-top: 5px;
		font-size: 24px;
		font-family: Poppins;
		width: 68px;
		
		
		justify-content: flex-end;
	}

	 .past-bet-request {
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);
    color: white;
    padding: 5px 0px 0px 0px;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    height: 12vh;
  }

  .bet-loser {
  	color: $red1 !important;
  }

	.request-upperwrap {
		margin-left: 15px;
		color: #A6A6A6;
	}
}

	ul#pasts-panel, ul#currents-panel {
	  padding: 0 !important;
	}

	label#currents-tab, label#pasts-tab {
	  width: calc(50vw - 6px);
	  font-size: 18px;
	  font-family: Poppins;
	  letter-spacing: 2px;
	}

	.radio-tabs .state {
	    position: absolute;
	    left: -10000px;
	}

	.radio-tabs .tab {
	    display: inline-block;
	    padding: .5em;
	    vertical-align: top;
	    background-color: $dark;
	    cursor: hand;
	    cursor: pointer;
	}

	#currents:checked ~ .tabs #currents-tab,
	#pasts:checked ~ .tabs #pasts-tab {
	    background-color: $dark;
	    border-bottom: .1em solid white;
	    cursor: default;
	}

	.radio-tabs .panels {
	    background-color: $dark;
	    padding: .5em;
	}

	.radio-tabs .panel {
	    display: none;
	}

	#currents:checked ~ .panels #currents-panel,
	#pasts:checked ~ .panels #pasts-panel{
	    display: block;
	}
