
<div class="container bets_sent_invitation"> 
  <div class = "logo">oddz</div>
  <h2>Your bet invitation has been sent</h2>
  <div class="mailer"><%= image_tag "mail_sent.svg" %></div>

  <%= link_to pending_account_bets_path  do %>
    <div> <button class="btn-purple">To Invitations</button></div>
  <% end %>
</div>