
<div class="details-page-header">

<div class="details-container" style="">
  <div class="image-container" style="background-image: linear-gradient(rgba(50,50,50,0.7), rgba(10,10,10,0.2)), url(https://i.ytimg.com/vi/leJNDpm_G10/hqdefault.jpg)" id="details-thumbnail">
      <!-- <img src="https://i.ytimg.com/vi/leJNDpm_G10/hqdefault.jpg" alt="<%= @bet.video_title %>" id="details-thumbnail"> -->
    <div class="details-title">
      <h3> James Bond- No Time To Die Cinematic Trailer</h3>
    </div>
  </div>
  <div class="details-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
</div>
  <div>
    <img src="<%= @bet.user.avatar %> " class="avatar-large-bordered" id="avatar-for-details" />
  </div>
</div>


