.account_invitations_received {
  position: relative;
  h1 {
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .fixed-avatar {
    position: absolute;
    top: -13px;
    left: -7px;
  }

  .request-upperwrap {
    position: relative;
  }

  .bet-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .bet-request {
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);
    color: white;
    padding: 5px 0px 0px 0px;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  .request-upperwrap {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid white;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .status-option {
    height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .status-option-reject {
    border-right: none;
    border-bottom: none;
  }

  .status-option-accept {
    border-left: none;
    border-bottom: none;
  }
}

.account_invitations_sent {
  position: relative;
  h1 {
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

ul#sent-panel, ul#received-panel {
    padding: 0 !important;
  }

  label#received-tab, label#sent-tab {
    width: calc(50vw - 6px);
    font-size: 18px;
    font-family: Poppins;
    letter-spacing: 2px;
  }

  .radio-tabs .state {
      position: absolute;
      left: -10000px;
  }

  .radio-tabs .tab {
      display: inline-block;
      padding: .5em;
      vertical-align: top;
      background-color: $dark;
      cursor: hand;
      cursor: pointer;
  }

  #received:checked ~ .tabs #received-tab,
  #sent:checked ~ .tabs #sent-tab {
      background-color: $dark;
      border-bottom: .1em solid white;
      cursor: default;
  }

  .radio-tabs .panels {
      background-color: $dark;
      padding: .5em;
  }

  .radio-tabs .panel {
      display: none;
  }

  #received:checked ~ .panels #received-panel,
  #sent:checked ~ .panels #sent-panel{
      display: block;
  }

