.account_invitations_pending {
position: relative;
h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;
  }

  .bet-cards {
  }

  .bet-status {
  }

  .empty-card {
  }

  .bet-request {
  }

  .request-upperwrap {
  }


  .status-change {
  }
}
