<div class="betbar">
  <div id="home-icon">
    <%= image_tag "home_button.svg" %>
  </div>

  <div id="bet-button">
    <%= link_to "Bet", new_search_path, class: "btn-bet" %>
  </div>

  <div id="dashboard-icon">
    <%= image_tag "stats_button.svg" %>
  </div>
</div>
