<div class="betbar-filter">
</div>
<div class="betbar-filter2"></div>
<div class="betbar">

  <div class="betbar-inner">
    <div id="home-icon">
      <%= link_to (image_tag "home-button.svg"), root_path, class: "navbar-brand"  %>
    </div>

  <div class="round-button">
  <%= link_to new_search_path do %>
  <div class="round-button-circle">
    <span>BET</span></div>
    <% end %>
  </div>

    <div id="dashboard-icon">
      <%= link_to (image_tag "stats-button.svg" ), account_bets_path, class: "navbar-brand"%>
    </div>
  </div>
</div>
<div class="space-for-betbar">
</div>


