<div class="video_card" style="background-color: <%= ["#58587C", "#323244", "#696978", "#7A7AA1", "#8484CC", "#474776", "#2D2D57", "#3A3452"].sample %>">
  <div>
    <img src="https://i.ytimg.com/vi/zuJV-DAv_wE/hqdefault.jpg" alt="Thumbnail">
  </div>
  <div class="video_info">
    <div>
      <p>lalala<%#= item["snippet"]["title"]%></p>
    </div>
    <div class="d-flex data-channel-info justify-content-between">
      <p> blabala<%#= item["snippet"]["channelTitle"]%></p><p> <%= rand(1..48)%>hours ago</p>
    </div>
  </div>
</div>
