.bets_sent_invitation {
  .logo {
    padding-top: 40px;
    font-family: ABeeZee !important;
    font-style: italic;
    font-weight: normal;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 250px;
    position:relative;
  }

  #mailer {
    text-align: center;
    top: 200px;
    margin-bottom: 100px;
    position: absolute;
    animation: 2s slideIn;
    left: 50px;
  }
}
// transform: translateX()

@keyframes slideIn {
  0% {
    left: -400px;
  }
  100% {
    left: 50px;
  }
}
