.details-container {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 80px;
  width: 90%;
  margin: 0 auto;
}

.details-container .details-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

#details-thumbnail {
  height: 35vh;
}

