.details-container {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 50px;
}

.details-container .details-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#details-thumbnail {
  height: 35vh;
  width: 100%;
}

#avatar-for-details {
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 50%;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 8px;
  top: 350px;
  box-shadow: 3px 3px 6px;
}

.details-title {
  color: black;
  padding: 13px;
  h3 {
    text-align: left;
    text-shadow: 1px 1px black;
  }
}

.image-container {
  background-position: center;
}

.details-target-stats {
  margin-top: 50px;
}

.details-target-stats p {
  color: black;
}
