.devise_registrations_new {
	position: relative;

	h1 {
		color: #FFFFFF;
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 48px;
		text-align: center !important;
	}

	.form-annotation {
  color: $grey-subtle !important;
  padding-top: 20px;
	text-align: center;
	  a {
	  	color: $purple1 !important;
	    line-height: 2.2;
	  }
	}

	#p01 {
		color: $grey-subtle !important;
	}
}
