.devise_registrations_new {
	position: relative;
	
	h1 {
		color: #FFFFFF;
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 48px;
		text-align: center !important;
	}

	.btn-purple {
		background: $purple1 !important;
		color: #FFFFFF;
		font-family: Poppins;
		font-weight: 600;
	  font-size: 16px;
	  border-radius: 6px;
	  height: 60px;
	 	text-align: center;
	  line-height: 24px;
	  text-transform: uppercase;
	  width: 100%;
 		margin-top: 10px;
	}

	.form-annotation {
  color: $grey-subtle !important;
  padding-top: 20px;
	text-align: center;
	  a {
	  	color: $purple1 !important;
	    line-height: 2.2;
	  }
	}

	#p01 {
		color: $grey-subtle !important;
	}
}