.friends_add_friends_index {
  position: relative;
  h1 {
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
   }
  h3 {
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p {
    color: #8C8C8C;
    -webkit-box-align: center;
    font-size: 18px;
    letter-spacing: 0.1em;
    }

  #friend-form {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }
  #add_friend {
    font-family: Poppins;
    border-radius: 4px;
    border: 1px solid white;
    background: transparent;
    height: 40px;
    width: 68%;
  }
  #submit_friend {
    color: $dark;
    font-family: Poppins;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    width: 30%;
  }
  .sent-requests {
    ul {
    list-style: none;
    padding: 0;
    }
    li:first-child {
        border-top: 1px solid $grey-subtle;
      }
    li {
    padding: 10px 15px;
    border-bottom: 1px solid $grey-subtle;
    }
  }

  .received-requests {
  }
  .friends-all {
    ul {
      list-style: none;
      padding: 0;
      }
      li:first-child {
        border-top: 1px solid $grey-subtle;
      }
      li {
      padding: 10px 15px;
      border-bottom: 1px solid $grey-subtle;

    }
  }
  .fixed-avatar {
    position: absolute;
    top: -13px;
    left: -7px;
  }

  .request-upperwrap {
    position: relative;
  }

  .friend-content {
    margin-top: 30px;
    margin-bottom: 30px;
    p {
      color: white;
    }
  }

  .friend-request {
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);
    color: white;
    padding: 5px 0px 0px 0px;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  .status-option {
    height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .status-option-reject {
    border-right: none;
    border-bottom: none;
  }

  .status-option-accept {
    border-left: none;
    border-bottom: none;
  }
}
