.friends_add_friends_index {
	position: relative;
	
	h1 {
	  color: #FFFFFF;
	  font-family: Poppins;
	  font-style: normal;
	  font-weight: 500;
	  font-size: 24px;
	  line-height: 36px;
	  text-align: center;
	  text-transform: uppercase;
	  margin-top: 30px;
	  margin-bottom: 20px;
	  letter-spacing: 0.1em;
	 }

	h3 {
	  color: #FFFFFF;
	  font-family: Poppins;
	  font-style: normal;
	  font-weight: 500;
	  font-size: 20px;
	  line-height: 36px;
	  text-align: left;
	  text-transform: uppercase;
	  margin-top: 60px;
	  margin-bottom: 20px;
	  margin-left: 20px;
	}
	
	#add_friend {
		margin-top: 30px;
		font-family: Poppins;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid white;
    background: transparent;
    width: 67%;
    height: 40px;
	}

	#submit_friend {
		background: white !important;
		color: $dark;
		font-family: Poppins;
		border-radius: 4px;
		box-sizing: border-box;
		height: 40px;
	}

	.sent-requests {
	}

	.received-requests {
	}

	.friends-all {
	}
}