.alert {
  position: fixed;
  top: 16px;
  right: -500px;
  z-index: 1000;
  animation: 9s animateIn;
  background-color: $purple1;
  color: white;
  font-family: poppins;
  border: none;
  border-radius: 4px;
}




@keyframes animateIn {
  0% {
    right: -500px;
  }

  40% {
    right: 16px;
  }

  30% {
    right: 16px;
  }

  70% {
    right: -500px;
  }
}
