.betbar {
  position: fixed;
  width: 100%;
  height: 120px;
  left: 0px;
  bottom: 0;
  background: rgba(71, 69, 69, 0.3);
  backdrop-filter: blur(20px);

}
.betbar-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:100%;
  position: -webkit-sticky;
  position: sticky;
}

#dashboard-icon {
  position: absolute;
right: 13.53%;
top: 38.33%;
bottom: 40%;
}

#home-icon {
  position: absolute;
 left: 13.53%;
top: 38.33%;
bottom: 40%;

}
