.betbar {
  position: fixed;
  width: 100%;
  height: 120px;
  left: 0px;
  bottom: 0;


}
.betbar-inner {
  display: flex;
  justify-content: space-around;
  background-position: center;
  background-size: cover;
  align-items: center;
  width:100%;
  height: 100%;

}

.betbar-filter {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 120px;
  left: 0px;
  bottom: 0;
  background-color: rgba(24,24,37,0.7);
}

.betbar-filter2 {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0px;
  bottom: 0;
  background-color: rgba(24,24,37,0.7);
}


#dashboard-icon {
  position: absolute;
  right: 13.53%;
  top: 38.33%;
  bottom: 40%;
}

#home-icon {
  position: absolute;
 left: 13.53%;
top: 38.33%;
bottom: 40%;
}

.space-for-betbar {
  width: 100%;
  height: 120px;
  left: 0px;
  bottom: 0;
}
