.btn-bet {
  background: linear-gradient(146.62deg, #6C08FA -0.48%, rgba(255, 255, 255, 0) 220.52%), #7F28FA;
  position: absolute;
  left: 37.33%;
  right: 37.33%;
  top: 20%;
  bottom: 12%;

  position: absolute;
  left: 45.87%;
  right: 45.87%;
  top: 45.83%;
  bottom: 38.33%
  font-family: ABeeZee;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
}


