form {
  width: 91%;
  margin: 0 auto;
}

input, select {
  background: transparent !important;
  color: white;
}

option {
  background: $dark;
  color: white !important;
}

.form-h3 {
  width: 90%;
  font-size: 16px;
  margin: 30px auto;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0px;
  margin-left: 3px;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#search_input, #time, #recipe1forward, #page2, #channel-metric, #video-metric,
#metric-count, #time, #recipe2forward, #summary {
  animation: fadeIn 0.3s;
}

