.logo {
  padding-top: 90px;
  font-family: ABeeZee !important;
  font-style: italic;
  font-weight: normal;
  font-size: 72px;
  line-height: 85px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
