// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "devise/index";
@import "recipe/index";
@import "search/index";
@import "account/index";
@import "account/pending";
@import "account/setting";
@import "account/index";
@import "friends/index";
@import "account/wallet";
@import "account/create";
@import "bets/index";
@import "account/transaction";
@import "account/notification";
@import "bets/create";


.poppins {
  font-family: Poppins;
}

.dark-bckgrnd{
  background: $dark;
}

h1, h2, h3, p, label {
  color: white;
  text-align: center;
  font-family: Poppins;
}

a:hover {
  text-decoration: none;
}
